<h1>Depoimento</h1>

<section>

    <div class="card text-dark mb-3">
        <h5 class="card-header">Anderson César <small>03/10/2022</small> </h5>

        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo saepe nemo porro mollitia voluptatum, impedit temporibus, sapiente error dolor rem quis omnis at earum unde provident fuga repellat magnam excepturi.
        </div>
    </div>

    <div class="card text-dark mb-3">
        <h5 class="card-header">Anderson César <small>03/10/2022</small> </h5>

        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo saepe nemo porro mollitia voluptatum, impedit temporibus, sapiente error dolor rem quis omnis at earum unde provident fuga repellat magnam excepturi.
        </div>
    </div>

</section>


<section>
    <h3>Envie seu depoimento</h3>
    <form method="POST">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" required>
        </div>

        <div class="form-group">
            <label for="mensagem">Mensagem</label>
           <textarea name="mensagem" id="" cols="30" rows="5" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Enviar</button>
    </form>
</section>